@charset "ISO-8859-1";

body {
	background-color: #d5bc7b;
}

/* ---------- NAVBAR BEGIN ---------- */
.navbar {
	position: sticky;
	color: white;
	box-shadow: 0px 2px 30px black;
	background-color: #9b8a5e;
	z-index: 5;
	font-size: 1.3em;
	width: 100%;
	top: 0;
}

.log {
	transition: 0.5s;
	background-color: #171617;
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
}

.log:hover {
	transform: scale(1.02);
	color: white !important;
}

.log a {
	color: white !important;
}
.nom-navbar{
	color: #171617;
}
/* ---------- NAVBAR END ---------- */

/* ---------- HOME BEGIN ---------- */
#img-accueil {
	z-index: -100;
	position: fixed;
	top: -100px;
	left: 0;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	position: fixed;
}

.text-div {
	position: fixed;
	top: 40vh;
	left: 30vh;
	z-index: 10;
}

/* #cny-fond { */
/* 	font-size: 25em; */
/* 	filter: opacity(0.2); */
/* 	position: fixed; */
/* 	top: 15vh; */
/* 	left: 15vh; */
/* } */
.boutique-home {
	text-decoration: none;
}

#logo {
	max-width: 60px;
}

.div-center {
	width: 50%;
	height: 50%;
	background-color: red;
	z-index: 10;
}

.text-div a {
	color: white;
	transition: 0.5s;
	background-color: #171617;
	border: 5px solid #171617;
	border-radius: 10px;
	position: fixed;
	left: 48vh;
	top: 50vh;
	padding: 20px;
	border-radius: 10px;
	transition: 0.5s;
}

.text-div a:hover {
	color: black;
	background-color: #9b8a5e;
	border: 5px solid #171617;
}


#fond-logo-cny {
	width: 40%;
	filter: opacity(0.2);
	position: fixed;
	top: 30vh;
	left: 20vh;
}

.boutique-img img {
	/* 			width: 150px;  */
	height: 150px;
	object-fit: contain;
	margin-top: 7%;
}

.button-boutique {
	color: white;
	transition: 0.5s;
	background-color: #171617;
	border: 5px solid #171617;
	border-radius: 10px;
	transition: 0.5s;
}

.button-boutique:hover {
	color: black !important;
	background-color: #9b8a5e;
	border: 5px solid #171617;
}

/* .text-div a { */
/* 	color: white; */
/* } */

/* ---------- HOME END ---------- */

/* ---------- BOUTIQUE BEGIN ---------- */
.boutique {
	position: relative;
}

.titre-boutique {
	font-weight: 500;
	text-align: center;
	font-size: 2.2em;
}

.card {
	border: none !important;
	background-color: #9b8a5e !important;
	box-shadow: rgb(0 0 0/ 35%) 0px 5px 15px;
}

.card-body {
	text-align: center;
}
.search-form #recherche{
  	width: 25%;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#search-logo{
	background-color: #9b8a5e;
    padding: 10px;
    display: inline-block;
    border: 1px solid #9b8a5e;
    border-radius: 4px;
    box-sizing: border-box;
}
#search-logo:hover{
	 background-color: #766947;
    border: 1px solid #766947;
}

#search-annule{
	background-color: #dc3545;
    padding: 10px;
    display: inline-block;
    border: 1px solid #dc3545;
    border-radius: 4px;
    box-sizing: border-box;
}
#search-annule:hover{
	 background-color: #bb2d3b;
    border: 1px solid #bb2d3b;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  color: white;
    pointer-events: none;
    background-color: #625c62;
    border-color: #625c62;
    opacity: var(--bs-btn-disabled-opacity);
}

/* ---------- BOUTIQUE END ---------- */

/* ---------- PANIER BEGIN ---------- */

.container-panier{
	position: relative;
	min-height: 60vh;
	margin-top:2%;
}
.table-panier{
	margin:2% 5% 2% 5%;
	width: 90%;
	vertical-align: middle;
}

.table-panier tbody, td, tfoot, th, tr {
    border-color: #9b8a5e;
    border-style: solid;
    border-width: 0;
}
.table-panier thead{
	background-color: #9b8a5e;
}
.container-end-panier{
	text-align: center;
}

.button-panier a {
/* 	width: 15%; */
    
    border-radius: 10px;
    transition: 0.5s;
    margin: 1% 0% 0% 0%;
    font-size: 1.35em;
}

.button-panier a:hover {
	
}

.button-table{
	color: white;
    background-color: #171617;
    border: 5px solid #171617;
}
.button-table:hover{
	color: black !important;
	background-color: #9b8a5e;
	border: 5px solid #171617;
}

/* ---------- PANIER END ---------- */

/* ---------- PAIEMENT BEGIN ---------- */

/* .button-paiement{ */
/* 	color: white; */
/*     background-color: #171617; */
/*     border: 5px solid #171617; */
/* } */
/* .button-paiement:hover{ */
/* 	color: black !important; */
/* 	background-color: #9b8a5e; */
/* 	border: 5px solid #171617; */
/* } */

.button-corriger{
	background-color: #dc3545;
	border:5px solid #dc3545;
		color: white !important;
	
}
.button-corriger:hover{
	background-color: #bb2d3b;
    border-color: #bb2d3b;
}

/* ---------- PAIEMENT END ---------- */

/* ---------- HISTORIQUE BEGIN ---------- */

.button-historique{
	text-align: right;
}

.button-historique a{
	
	color: white;
    transition: 0.5s;
    background-color: #171617;
    border: 5px solid #171617;
    border-radius: 10px;
    transition: 0.5s;
}
.button-historique a:hover {
	color: black !important;
	background-color: #9b8a5e;
	border: 5px solid #171617;
}

/* ---------- HISTORIQUE END ---------- */

/* ---------- DETAIL BEGIN ---------- */

.button-detail a{
	margin-left: 5%;
	color: white;
    transition: 0.5s;
    background-color: #171617;
    border: 5px solid #171617;
    border-radius: 10px;
    transition: 0.5s;
}
.button-detail a:hover {
	color: black !important;
	background-color: #9b8a5e;
	border: 5px solid #171617;
}

/* ---------- DETAIL END ---------- */

/* ---------- GESTION BEGIN ---------- */

.button-suppr{
	color: white !important;
	background-color: #dc3545;
	border: 5px solid #dc3545;
	
}
.button-suppr:hover{
	color: white;
	background-color: #bb2d3b;
	border: 5px solid #bb2d3b;
}

.button-add{
	color: white !important;
	background-color: #23A229;
	border: 5px solid #23A229;
	
}
.button-add:hover{
	color: white;
	background-color: #208C25;
	border: 5px solid #208C25;
}
.button-modifier{
	color: white ;
	transition: 0.5s;
	background-color: #171617;
	border: 5px solid #171617;
	
}
.button-modifier:hover{
	color: black !important;
	border: 5px solid #171617;
	background-color: #9b8a5e;
}
.titre-onglet{
	display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0% 0% 2% 0%;
}
.onglet{
	width: 100%;
	text-align: center;
	margin: 0% 1%;
}
.onglet-article{
	border-bottom:5px solid
}
.onglet-utilisateur{
	border-bottom: 5px solid #9b8a5e;
}
.onglet-utilisateur a{
	color: #9b8a5e;
	text-decoration: none;
}

/* ---------- GESTION END ---------- */

/* ---------- GESTIONU BEGIN ---------- */

.onglet-article2{
	border-bottom: 5px solid #9b8a5e;	
}
.onglet-article2 a{
	color: #9b8a5e;
	text-decoration: none;
}

.onglet-utilisateur2{
	border-bottom:5px solid
}
.table-gestionU{
	width: 100% !important;
	margin: 2% 1% 2% 1%;
    vertical-align: middle;
}


/* ---------- GESTIONU END ---------- */

/* ---------- MONCOMPTE BEGIN ---------- */

.table-pm{
	margin: 2% 30% 2% 30%;
    width: 40%;
}
.infos{
	width: 40%;
    margin: 2% 30% 2% 30%;
    padding: 0;
}
.infos input{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 3%;
}
.titre-compte{
	margin-bottom: 3%;
	font-size: 1.5em;
}

.button-compte {
	width: 100%;
    color: white;
    transition: 0.5s;
    background-color: #23A229;
    border: 5px solid #23A229;
    border-radius: 10px;
    transition: 0.5s;
    padding: 2%;
    margin: 2% 0% 0% 0%;
}

.button-compte:hover {
	color: black !important;
	background-color: #208C25;
	border: 5px solid #208C25;
}
.divcompte{
	text-align:center;
}

/* ---------- MONCOMPTE END ---------- */

/* ---------- MODIFPRODUIT BEGIN ---------- */

.titre-tableau-modif{
	margin-left: 5%;
}

.form-modif{
	margin: 0% 5% 0% 5%;
    display: flex;
    flex-direction: row;
}
.form-modif input{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 3%;
}
.form-modif label{
	margin-bottom: 2%;
}

.flex-modif{
	width: 40%;
	margin: 0% 5%;
}
.button-modif{
	width: 100%;
	
}
/* ---------- MODIFPRODUIT END ---------- */

/* ---------- SUPPRPRODUIT BEGIN ---------- */

.center-button-suppr{
	text-align: center;
}

/* ---------- SUPPRPRODUIT END ---------- */

/* ---------- LOGIN BEGIN ---------- */

.container-log input{
  	margin: 0% 5% 0% 5%;
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.container-log label{
	   margin: 2% 0% 2% 0%;
    font-size: 1.2em;
}
.container-log {
	display: flex;
	flex-direction: row;
	height: 65vh;
	width: 100%;
	margin: 5% 0% 0% 0%;
	text-align: center;
}


.container-form {
	width: 30%;
	border-radius: 5%;
	background-color: #9b8a5e;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container-connexion {
	margin: 0% 2% 0% 18%;
}

.container-inscription {
	margin: 0% 18% 0% 2%;
}

.titre-form{
	margin: 3% 0% 0% 0%;
    font-weight: bold;
    font-size: 2.2em;
}

.button-log {
	width: 80%;
    color: white;
    transition: 0.5s;
    background-color: #171617;
    border: 5px solid #171617;
    border-radius: 10px;
    transition: 0.5s;
    padding: 2%;
    margin: 5% 0% 0% 0%;
}

.button-log:hover {
	color: black !important;
	background-color: #9b8a5e;
	border: 5px solid #171617;
}

/* ---------- LOGIN END ---------- */

/* ---------- FOOTER BEGIN ---------- */
footer {
	position: absolute;
	width: 100%;
}

.div-footer {
	margin-top: 5%;
	box-shadow: 0px 2px 30px black;
	background-color: #9b8a5e;
	padding-bottom: 0.5%;
}

.container-footer-column {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 0.5%;
}

.container-footer-titre {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 2%;
}

.container-footer-column>div {
	width: 20%;
	text-align: left;
	font-size: 1.2em;
	text-align: left;
}

.container-footer-titre>div {
	width: 20%;
	text-align: left;
	font-size: 1.2em;
	margin-top: 2%;
}

.div-footer li {
	list-style-type: none
}

.li-titre {
	font-weight: bold;
}

.container-footer-column a {
	color: #0000008C;
	text-decoration: none;
	transition: 0.5s;
}

.container-footer-column a:hover {
	color: black;
	text-decoration: none;
}

/* ---------- FOOTER END ---------- */

/* ---------- TEST FLOU BEGIN ---------- */
.container-accueil {
	background:
		url(https://acseo.ams3.digitaloceanspaces.com/tf1-sos-villages/uploads/files/a2bebd2cacac48ec31c397a8896bacca.jpg)
		no-repeat center center fixed;
	background-size: cover;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
}

.div-accueil {
	background:
		url(https://acseo.ams3.digitaloceanspaces.com/tf1-sos-villages/uploads/files/a2bebd2cacac48ec31c397a8896bacca.jpg)
		no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	filter: blur(13px);
	position: absolute;
	width: 700px;
	height: 500px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/* ---------- TEST FLOU BEGIN ---------- */