<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>CnY</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnexionServlet</display-name>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>cny.servlet.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>cny.servlet.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>cny.servlet.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterAuPanierServlet</display-name>
    <servlet-name>AjouterAuPanierServlet</servlet-name>
    <servlet-class>cny.servlet.AjouterAuPanierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterAuPanierServlet</servlet-name>
    <url-pattern>/panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlusMoinsQuantiteServlet</display-name>
    <servlet-name>PlusMoinsQuantiteServlet</servlet-name>
    <servlet-class>cny.servlet.PlusMoinsQuantiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlusMoinsQuantiteServlet</servlet-name>
    <url-pattern>/modifquantite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerDuPanierServlet</display-name>
    <servlet-name>SupprimerDuPanierServlet</servlet-name>
    <servlet-class>cny.servlet.SupprimerDuPanierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerDuPanierServlet</servlet-name>
    <url-pattern>/supprimerdupanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandeServlet</display-name>
    <servlet-name>CommandeServlet</servlet-name>
    <servlet-class>cny.servlet.CommandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandeServlet</servlet-name>
    <url-pattern>/commande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierProduitServlet</display-name>
    <servlet-name>ModifierProduitServlet</servlet-name>
    <servlet-class>cny.servlet.ModifierProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierProduitServlet</servlet-name>
    <url-pattern>/modifierproduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerProduitServlet</display-name>
    <servlet-name>SupprimerProduitServlet</servlet-name>
    <servlet-class>cny.servlet.SupprimerProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerProduitServlet</servlet-name>
    <url-pattern>/supprimerproduit</url-pattern>
  </servlet-mapping>
</web-app>